
@font-face {
  font-family: "NunitoSans-Regular";
  src: url(fonts/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: "NunitoSans-Black";
  src: url(fonts/NunitoSans-Black.ttf);
}
@font-face {
  font-family: "NunitoSans-bold";
  src: url(fonts/NunitoSans-Bold.ttf);
}
@font-face {
  font-family: "NunitoSans-light";
  src: url(fonts/NunitoSans-Light.ttf);
}
@font-face {
  font-family: "NunitoSans-semibold";
  src: url(fonts/NunitoSans-SemiBold.ttf);
}
@font-face {
  font-family: "Lato-Regular";
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Black";
  src: url(fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-Light";
  src: url(fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-Medium";
  src: url(fonts/Lato-Medium.ttf);
}
@font-face {
  font-family: "Lato-Semibold";
  src: url(fonts/Lato-Semibold.ttf);
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url(fonts/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: "RobotoSlab-Regular";
  src: url(fonts/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: "RobotoSlab-SemiBold";
  src: url(fonts/RobotoSlab-SemiBold.ttf);
}

p {
  font-family: "RobotoSlab-Regular";
}
@media (min-width: 1800px) {
  .container-xxl {
    max-width: 1600px;
  }
}
body {
  overflow: hidden;
  overflow-y: auto;
  font-family: "RobotoSlab-Regular";
}
.bg-a2h {
  background-color: #e3f1df;
}
.bg-a2h-dark {
  background-color: #00a551;
}
#gtco-main-nav {
  padding: 20px 0;
}

#gtco-main-nav .bar1,
#gtco-main-nav .bar2,
#gtco-main-nav .bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--dark);
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
#gtco-main-nav .change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}
#gtco-main-nav .change .bar2 {
  opacity: 0;
}
#gtco-main-nav .change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}
#gtco-main-nav .navbar-nav li a {
  font-family: "RobotoSlab-SemiBold";
}
#gtco-main-nav form a {
  color: var(--dark);
  padding: 5px 25px;
  border-radius: 20px;
  border-width: 2px;
}
#gtco-main-nav form a.btn-info {
  background: #00a551;
  border-color: #00a551;
}
#gtco-main-nav form a.btn-outline-dark {
  border-color: var(--dark);
  background-color: transparent;
}
@media (max-width: 991px) {
  #gtco-main-nav form a.btn-outline-dark {
    border-color: #00a551;
    color: #00a551;
  }
}
@media (min-width: 990px) {
  .home::after {
    position: absolute;
    content: "";
    height: 600px;
    width: 900px;
    background: rgb(0, 165, 81);
    background: -moz-linear-gradient(
      50deg,
      rgba(0, 165, 81, 1) 37%,
      rgba(204, 255, 18, 1) 100%
    );
    background: -webkit-linear-gradient(
      50deg,
      rgba(0, 165, 81, 1) 37%,
      rgba(204, 255, 18, 1) 100%
    );
    background: linear-gradient(
      50deg,
      rgba(0, 165, 81, 1) 37%,
      rgba(204, 255, 18, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a551",endColorstr="#ccff12",GradientType=1);
    right: -8%;
    top: -50px;
    z-index: -1;
    border-radius: 50% 0 50% 50%;
  }
}

@media (min-width: 1800px) {
  .home::after {
    height: 700px;
    width: 1200px;
  }
}

@media (max-width: 1400px) {
  .home::after {
    height: 550px;
    width: 800px;
  }
}
@media (max-width: 1199px) {
  .home::after {
    width: 700px;
  }
}
@media (max-width: 991px) {
  .home::after {
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media (max-width: 600px) {
  .home::after {
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 990px) {
  .home::before {
    position: absolute;
    content: "";
    height: 590px;
    width: 930px;
    background-image: -webkit-linear-gradient(to right, #e3f1df, #00a551);
    background-image: -moz-linear-gradient(to right, #e3f1df, #00a551);
    background-image: -ms-linear-gradient(to right, #e3f1df, #00a551);
    background-image: -o-linear-gradient(to right, #e3f1df, #00a551);
    background-image: linear-gradient(to right, #e3f1df, #00a551);
    right: -8%;
    top: -25px;
    z-index: -1;
    border-radius: 50% 0 50% 50%;
  }
}

@media (min-width: 1800px) {
  .home::before {
    height: 715px;
    width: 1220px;
  }
}
@media (max-width: 1400px) {
  .home::before {
    height: 540px;
    width: 810px;
  }
}
@media (max-width: 1199px) {
  .home::before {
    width: 710px;
  }
}
@media (max-width: 991px) {
  .home::before {
    width: 55%;
    left: auto;
    right: 0;
  }
}
@media (max-width: 600px) {
  .home::before {
    width: 100%;
    height: 390px;
  }
}

.gtco-banner-area a,
.gtco-feature a,
.gtco-features a,
.gtco-news .owl-carousel .card a,
#gtco-footer .submit-button {
  background: rgb(0, 165, 81);
  background: -moz-linear-gradient(
    50deg,
    rgba(0, 165, 81, 1) 37%,
    rgba(204, 255, 18, 1) 100%
  );
  background: -webkit-linear-gradient(
    50deg,
    rgba(0, 165, 81, 1) 37%,
    rgba(204, 255, 18, 1) 100%
  );
  background: linear-gradient(
    50deg,
    rgba(0, 165, 81, 1) 37%,
    rgba(204, 255, 18, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a551",endColorstr="#ccff12",GradientType=1);
  font-size: 18px;
  font-family: "RobotoSlab-SemiBold";
  color: var(--dark);
  border-radius: 50px;
  padding: 16px 30px;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 5px;
  text-decoration: none !important;
  min-width: 200px;
}
.gtco-banner-area a .fa,
.gtco-feature a .fa,
.gtco-features a .fa,
.gtco-news .owl-carousel .card a .fa,
#gtco-footer .submit-button .fa {
  background: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: #00a551;
  font-size: 22px;
  text-align: center;
  padding-top: 5px;
  margin-left: 15px;
}

.gtco-feature h2,
.gtco-features h2 {
  font-family: "NunitoSans-Regular";
  color: var(--dark);
  font-size: 36px;
  margin-bottom: 30px;
}
.card {
  border: none;
  background: transparent;
}
.gtco-banner-area {
  margin-top: 20px;
  min-height: 500px;
}
.gtco-banner-area h1 {
  font-family: "NunitoSans-Light";
  font-size: 48px;
  color: var(--dark);
  max-width: 500px;
  margin-top: 70px;
}
.gtco-banner-area h1 span {
  font-family: "NunitoSans-Bold";
}
@media (max-width: 1199px) {
  .gtco-banner-area h1 {
    margin-top: 30px;
  }
}
.gtco-banner-area p {
  max-width: 450px;
  margin: 20px 0;
  margin-bottom: 40px;
}
.gtco-banner-area a {
  display: inline;
  padding: 16px 30px;
  padding-right: 5px;
}
.gtco-banner-area .col-md-6 .card .card-img-top {
  /* margin: 0 auto;
  margin-right: -25%; */
}
@media (max-width: 1400px) {
  .gtco-banner-area .col-md-6 .card .card-img-top {
    margin-right: auto;
  }
}

.gtco-feature {
  margin-top: 100px;
}
.gtco-feature .card .back-bg {
  margin-left: -30px !important;
  margin-top: -20px;
}
.gtco-feature .card svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gtco-feature .card svg.defs {
  position: absolute;
  width: 0;
  height: 0;
}
.gtco-feature .card .squircle {
  width: 100%;
  height: 450px;
  background: url(../images/learn-img.jpg) center/cover, #aaa;
  clip-path: url(#clip-path);
  background-position-x: -50px;
}
.gtco-feature p small {
  font-size: 16px;
}
.gtco-feature a {
  margin-top: 20px;
  display: inline-block;
}

.gtco-features {
  margin-top: 100px;
}
.gtco-features svg {
  position: absolute;
  margin-left: -100px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .gtco-features svg {
    margin: 0 auto;
    margin-top: 200px;
  }
}
.gtco-features h2 {
  margin-top: 200px;
}
@media (max-width: 991px) {
  .gtco-features h2 {
    margin-top: 0;
  }
}
.gtco-features .col-lg-4 p {
  max-width: 320px;
  margin-bottom: 30px;
}
.gtco-features .col-lg-8 {
  padding: 10px 100px;
}
@media (max-width: 767px) {
  .gtco-features .col-lg-8 {
    padding: 10px 0;
  }
}
.gtco-features .col-lg-8 .row .col:first-child {
  margin-top: 150px;
}
@media (max-width: 600px) {
  .gtco-features .col-lg-8 .row .col:first-child {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .gtco-features .col-lg-8 .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.gtco-features .col-lg-8 .card {
  background: #fff;
  margin: 30px 5px;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
}
.gtco-features .col-lg-8 .card .oval {
  background: linear-gradient(to right, #f1f6fd, #f0fbfe);
  padding: 10px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  transform: rotate(20deg);
  margin-top: 20px;
}
.gtco-features .col-lg-8 .card .card-img-top {
  max-width: 0.8in;
  margin: 0 auto;
  transform: rotate(-20deg);
}
.gtco-features .col-lg-8 .card h3 {
  font-family: "NunitoSans-Regular";
  font-size: 24px;
  color: #00a551;
}
.gtco-features .col-lg-8 .card p {
  font-size: 16px;
}

.gtco-numbers-block {
  margin: 100px auto;
  margin-top: 200px;
  color: var(--dark);
}
@media (max-width: 600px) {
  .gtco-numbers-block {
    margin-top: 100px;
  }
}
@media (max-width: 1299px) {
  .gtco-numbers-block .row {
    max-width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .gtco-numbers-block .row .col-3 {
    padding: 0;
  }
}
.gtco-numbers-block #custom-map::before {
  position: absolute;
  content: "";
  height: 100px;
  width: 100%;
  border: 2px solid red;
}
.gtco-numbers-block svg {
  margin-top: -100px;
  position: absolute;
  left: 0;
  max-width: 1500px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1299px) {
  .gtco-numbers-block svg {
    margin-top: -90px;
  }
}
@media (max-width: 1199px) {
  .gtco-numbers-block svg {
    margin-top: -60px;
  }
}
@media (max-width: 991px) {
  .gtco-numbers-block svg {
    margin-top: -40px;
  }
}
@media (max-width: 650px) {
  .gtco-numbers-block svg {
    margin-top: -20px;
  }
}
@media (max-width: 600px) {
  .gtco-numbers-block svg {
    margin-top: -10px;
  }
}
.gtco-numbers-block h5 {
  font-family: "NunitoSans-Bold";
  font-size: 60px;
}
@media (max-width: 1299px) {
  .gtco-numbers-block h5 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .gtco-numbers-block h5 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .gtco-numbers-block h5 {
    margin: 0;
    font-size: 18px;
  }
}
.gtco-numbers-block p {
  font-family: "NunitoSans-Semibold";
  font-size: 24px;
  color: var(--dark);
}
@media (max-width: 1299px) {
  .gtco-numbers-block p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .gtco-numbers-block p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .gtco-numbers-block p {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .gtco-numbers-block p {
    line-height: 1.1;
  }
}
@media (max-width: 500px) {
  .gtco-numbers-block p {
    font-size: 8px;
  }
}

.gtco-testimonials {
  position: relative;
  margin-top: 200px;
}
@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 100px;
  }
}
.gtco-testimonials h2 {
  font-family: "NunitoSans-Bold";
  font-size: 36px;
  text-align: center;
  color: #333333;
  margin-bottom: 100px;
}
.gtco-testimonials .owl-stage-outer {
  padding-bottom: 30px;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #00a551;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #00a551;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
  margin: 0 30px;
  padding: 0 20px;
  border-radius: 50px;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #00a551;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h5 {
  color: #00a551;
  font-size: 21px;
  line-height: 1.3;
  font-family: "NunitoSans-Bold";
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
  font-family: "RobotoSlab-Regular";
}
.gtco-testimonials .card p {
  font-size: 18px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center p {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

.gtco-features-list {
  margin-top: 100px;
}
.gtco-features-list .media {
  margin: 20px 0;
}
.gtco-features-list .oval {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  height: 60px;
  width: 60px;
}
.gtco-features-list .oval .align-self-start {
  width: 100%;
  padding: 3px;
}
.gtco-features-list .media-body {
  font-family: "RobotoSlab-Regular";
  font-size: 16px;
  color: #666666;
  padding-right: 20px;
}
.gtco-features-list .media-body h5 {
  font-family: "NunitoSans-Semibold";
  margin-bottom: 20px !important;
  font-size: 22px;
}

.gtco-features-list .card {
  border: 0px;
  background-color: transparent;
}

.gtco-logo-area {
  margin: 50px auto;
}
.gtco-logo-area .col .img-fluid {
  max-height: 32px;
}
@media (max-width: 600px) {
  .gtco-logo-area .col {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 20px 0;
  }
}

.gtco-news {
  background: #fcfcfc;
  padding: 50px 0;
  margin: 100px auto;
}
.gtco-news h2 {
  font-size: 36px;
  font-weight: "Lato-Medium";
  text-align: center;
  margin-bottom: 50px;
}
.gtco-news .owl-carousel .owl-nav {
  display: block !important;
  position: absolute;
  top: 25%;
  width: 100%;
}
@media (max-width: 600px) {
  .gtco-news .owl-carousel .owl-nav {
    display: none !important;
  }
}
.gtco-news .owl-carousel .owl-nav .owl-prev,
.gtco-news .owl-carousel .owl-nav .owl-next {
  font-size: 120px;
  color: #666666;
  position: absolute;
}
.gtco-news .owl-carousel .owl-nav .owl-prev {
  left: -50px;
}
.gtco-news .owl-carousel .owl-nav .owl-next {
  right: -50px;
}
.gtco-news .owl-carousel .card {
  padding: 0 25px;
}
.gtco-news .owl-carousel .card .card-img-top {
  border-radius: 40px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}
.gtco-news .owl-carousel .card h5 {
  font-family: "NunitoSans-Bold";
  font-size: 22px;
  color: #333333;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .gtco-news .owl-carousel .card h5 {
    font-size: 18px;
  }
}
.gtco-news .owl-carousel .card p {
  font-size: 17px;
}
@media (max-width: 767px) {
  .gtco-news .owl-carousel .card p {
    font-size: 15px;
  }
}
.gtco-news .owl-carousel .card a {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.gtco-news .owl-dots {
  text-align: center;
}
.gtco-news .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #00a551;
  margin: 0 5px;
}
.gtco-news .owl-dots .active {
  box-shadow: none;
}
.gtco-news .owl-dots .active span {
  background: #00a551;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-news .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-news .center {
  opacity: 1;
}

#gtco-footer {
  padding-bottom: 20px;
}
#gtco-footer h4 {
  font-family: "NunitoSans-Bold";
  font-size: 24px;
  color: #00a551;
  margin-bottom: 30px;
}
#gtco-footer input,
#gtco-footer textarea {
  background-color: white;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  max-width: 450px;
  width: 100%;
  height: 60px;
  border: none;
  margin-bottom: 30px;
  padding-left: 30px;
  color: var(--dark);
}
#gtco-footer input::-webkit-input-placeholder,
#gtco-footer input::-moz-placeholder,
#gtco-footer input:-ms-input-placeholder,
#gtco-footer input:-moz-placeholder,
#gtco-footer textarea::-webkit-input-placeholder,
#gtco-footer textarea::-moz-placeholder,
#gtco-footer textarea:-ms-input-placeholder,
#gtco-footer textarea:-moz-placeholder {
  color: #999999;
  font-family: "RobotoSlab-Regular";
  font-size: 18px;
}
#gtco-footer textarea {
  min-height: 200px;
  border-radius: 30px;
  padding-top: 20px;
  padding-right: 20px;
  resize: none;
}
#gtco-footer .company-nav,
#gtco-footer .services-nav {
  font-family: "RobotoSlab-Regular";
  font-size: 20px;
}
#gtco-footer .company-nav a,
#gtco-footer .services-nav a {
  color: #666666;
  margin: 0;
  padding: 0;
}
#gtco-footer .follow-us-nav a {
  padding: 0 10px;
  color: #666666;
}
@media (max-width: 385px) {
  #gtco-footer .follow-us-nav a {
    padding-right: 0;
  }
}
#gtco-footer .follow-us-nav a .fa {
  font-size: 24px;
}
#gtco-footer .col-12 {
  margin-top: 90px;
}
#gtco-footer .col-12 p {
  font-family: "NunitoSans-Regular";
  font-size: 18px;
  color: #999999;
}
@media (max-width: 991px) {
  #gtco-footer .col-12 {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  #gtco-footer .col-lg-6 {
    margin-bottom: 50px;
  }
}

.space-0,
.space-top-0 {
  padding-top: 0 !important;
}
.space-0,
.space-bottom-0 {
  padding-bottom: 0 !important;
}
.space-1,
.space-top-1 {
  padding-top: 2rem !important;
}
.space-1,
.space-bottom-1 {
  padding-bottom: 2rem !important;
}
.space-2,
.space-top-2 {
  padding-top: 4rem !important;
}
.space-2,
.space-bottom-2 {
  padding-bottom: 4rem !important;
}
.space-3,
.space-top-3 {
  padding-top: 8rem !important;
}
.space-3,
.space-bottom-3 {
  padding-bottom: 8rem !important;
}
.space-4,
.space-top-4 {
  padding-top: 12.5rem !important;
}
.space-4,
.space-bottom-4 {
  padding-bottom: 12.5rem !important;
}
.space-5,
.space-top-5 {
  padding-top: 15rem !important;
}
.space-5,
.space-bottom-5 {
  padding-bottom: 15rem !important;
}
@media (min-width: 576px) {
  .space-sm-0,
  .space-top-sm-0 {
    padding-top: 0 !important;
  }
  .space-bottom-sm-0,
  .space-sm-0 {
    padding-bottom: 0 !important;
  }
  .space-sm-1,
  .space-top-sm-1 {
    padding-top: 2rem !important;
  }
  .space-bottom-sm-1,
  .space-sm-1 {
    padding-bottom: 2rem !important;
  }
  .space-sm-2,
  .space-top-sm-2 {
    padding-top: 4rem !important;
  }
  .space-bottom-sm-2,
  .space-sm-2 {
    padding-bottom: 4rem !important;
  }
  .space-sm-3,
  .space-top-sm-3 {
    padding-top: 8rem !important;
  }
  .space-bottom-sm-3,
  .space-sm-3 {
    padding-bottom: 8rem !important;
  }
  .space-sm-4,
  .space-top-sm-4 {
    padding-top: 12.5rem !important;
  }
  .space-bottom-sm-4,
  .space-sm-4 {
    padding-bottom: 12.5rem !important;
  }
  .space-sm-5,
  .space-top-sm-5 {
    padding-top: 15rem !important;
  }
  .space-bottom-sm-5,
  .space-sm-5 {
    padding-bottom: 15rem !important;
  }
}
@media (min-width: 768px) {
  .space-md-0,
  .space-top-md-0 {
    padding-top: 0 !important;
  }
  .space-bottom-md-0,
  .space-md-0 {
    padding-bottom: 0 !important;
  }
  .space-md-1,
  .space-top-md-1 {
    padding-top: 2rem !important;
  }
  .space-bottom-md-1,
  .space-md-1 {
    padding-bottom: 2rem !important;
  }
  .space-md-2,
  .space-top-md-2 {
    padding-top: 4rem !important;
  }
  .space-bottom-md-2,
  .space-md-2 {
    padding-bottom: 4rem !important;
  }
  .space-md-3,
  .space-top-md-3 {
    padding-top: 8rem !important;
  }
  .space-bottom-md-3,
  .space-md-3 {
    padding-bottom: 8rem !important;
  }
  .space-md-4,
  .space-top-md-4 {
    padding-top: 12.5rem !important;
  }
  .space-bottom-md-4,
  .space-md-4 {
    padding-bottom: 12.5rem !important;
  }
  .space-md-5,
  .space-top-md-5 {
    padding-top: 15rem !important;
  }
  .space-bottom-md-5,
  .space-md-5 {
    padding-bottom: 15rem !important;
  }
}
@media (min-width: 992px) {
  .space-lg-0,
  .space-top-lg-0 {
    padding-top: 0 !important;
  }
  .space-bottom-lg-0,
  .space-lg-0 {
    padding-bottom: 0 !important;
  }
  .space-lg-1,
  .space-top-lg-1 {
    padding-top: 2rem !important;
  }
  .space-bottom-lg-1,
  .space-lg-1 {
    padding-bottom: 2rem !important;
  }
  .space-lg-2,
  .space-top-lg-2 {
    padding-top: 4rem !important;
  }
  .space-bottom-lg-2,
  .space-lg-2 {
    padding-bottom: 4rem !important;
  }
  .space-lg-3,
  .space-top-lg-3 {
    padding-top: 8rem !important;
  }
  .space-bottom-lg-3,
  .space-lg-3 {
    padding-bottom: 8rem !important;
  }
  .space-lg-4,
  .space-top-lg-4 {
    padding-top: 12.5rem !important;
  }
  .space-bottom-lg-4,
  .space-lg-4 {
    padding-bottom: 12.5rem !important;
  }
  .space-lg-5,
  .space-top-lg-5 {
    padding-top: 15rem !important;
  }
  .space-bottom-lg-5,
  .space-lg-5 {
    padding-bottom: 15rem !important;
  }
}
@media (min-width: 1200px) {
  .space-top-xl-0,
  .space-xl-0 {
    padding-top: 0 !important;
  }
  .space-bottom-xl-0,
  .space-xl-0 {
    padding-bottom: 0 !important;
  }
  .space-top-xl-1,
  .space-xl-1 {
    padding-top: 2rem !important;
  }
  .space-bottom-xl-1,
  .space-xl-1 {
    padding-bottom: 2rem !important;
  }
  .space-top-xl-2,
  .space-xl-2 {
    padding-top: 4rem !important;
  }
  .space-bottom-xl-2,
  .space-xl-2 {
    padding-bottom: 4rem !important;
  }
  .space-top-xl-3,
  .space-xl-3 {
    padding-top: 8rem !important;
  }
  .space-bottom-xl-3,
  .space-xl-3 {
    padding-bottom: 8rem !important;
  }
  .space-top-xl-4,
  .space-xl-4 {
    padding-top: 12.5rem !important;
  }
  .space-bottom-xl-4,
  .space-xl-4 {
    padding-bottom: 12.5rem !important;
  }
  .space-top-xl-5,
  .space-xl-5 {
    padding-top: 15rem !important;
  }
  .space-bottom-xl-5,
  .space-xl-5 {
    padding-bottom: 15rem !important;
  }
}

.login-text-large {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: roboto;
}
.hr-divider {
  background-color: #e5e5ea;
  height: 1px;
  margin: 24px 0;
}
.patient-signin, .doctor-signin {
  margin: 20px 0;
  padding-top: 10px 0;
}
.patient-signin.nav-tabs {
  border-bottom: 1px solid aquamarine;
}

.patient-signin .nav-tabs, .patient-signin .nav-item.show, .patient-signin .nav-link, .patient-signin .nav-tabs {
  color: green;
  border: none;
  background: none;
}
.patient-signin .nav-link.active {
  color: #333;
  background: none;
  border-bottom: 2px solid green;
}

.doctor-signin.nav-tabs {
  border-bottom: 1px solid hotpink;
}

.doctor-signin .nav-tabs, .doctor-signin .nav-item.show, .doctor-signin .nav-link, .doctor-signin .nav-tabs {
  color: red;
  border: none;
  background: none;
}
.doctor-signin .nav-link.active {
  color: #333;
  background: none;
  border-bottom: 2px solid red;
}


/* It's supposed to look like a tree diagram */
.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0 0 1em;
  text-align: center;
}
.tree,
.tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: top;
}
/* _________ */
.tree li:before {
  outline: solid 1px #666;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {
  left: 50%;
}
.tree li:last-child:before {
  right: 50%;
}

.tree code,
.tree span {
  border: solid 0.1em #666;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  position: relative;
}
/* If the tree represents DOM structure */
.tree code {
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
  outline: solid 1px #666;
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -0.5em;
}
.tree code:before,
.tree span:before {
  top: -0.55em;
}

/* The root node doesn't connect upwards */
.tree > li {
  margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 16px;
  right: 100px;
  text-align: center;
  box-shadow: rgba(0, 165, 81, 0.1) 0px 1px 6px,
    rgba(0, 165, 81, 0.2) 0px 2px 24px;
  border: medium none;
  transition: box-shadow 100ms ease-in-out 0s;
  border-radius: 50%;
  border: 1px solid #00a551;
  z-index: 1000;
}

.a2h-fab {
  font-size: xx-large;
  color: #00a551;
  margin-top: 12px;
}

ol {
  counter-reset: section;
  list-style: none;
}

ol li {
  margin: 0 0 0 0;
  line-height: 60px;
}

ol li:before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 20px 20px 0;
  border: 3px solid #00a551;
  border-radius: 100%;
  text-align: center;
}

.doctor_details_outer {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: content-box;
  font-size: initial;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.doctor_details_inner {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.doctor_pic {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: 50% 50%;
}

/* doctor search input design */

.searchDoctor {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/search.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px;
}

.searchDoctor form {
  width: 100%;
  max-width: 790px;
  padding-top: 24vh;
}

.searchDoctor form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 30px;
}

.searchDoctor form .inner-form .input-field {
  height: 68px;
}

.searchDoctor form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

.searchDoctor form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

.searchDoctor form .inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.searchDoctor form .inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

.searchDoctor form .inner-form .input-field input:hover, .searchDoctor form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.searchDoctor form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #d9f1e3;
}

.searchDoctor form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.searchDoctor form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.searchDoctor form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

.searchDoctor form .inner-form .input-field.second-wrap {
  min-width: 216px;
}

.searchDoctor form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #00ad5f;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
}

.searchDoctor form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #009451;
}

.searchDoctor form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.searchDoctor form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}

@media screen and (max-width: 992px) {
  .searchDoctor form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .searchDoctor form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 10px;
  }
  .searchDoctor form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
  .searchDoctor form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
  .searchDoctor form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}




/**********  Aims2Health by Bluemonkey  **********/
